    .Title {
        font-size: 18pt;
        text-decoration: underline;
        text-align: center;
	}
	.Days {
        text-align: center;
		font-size: 14pt;
	}
	.UnnessaryHeight {
		height: 10pt
	}
    .BoxThing {
		width: 100pt;
        padding: 5pt 5pt 5pt 5pt;
    }
	.BOLDCenter-er {
        text-align: center;
        font-weight: 700;
        font-size: 12pt;
	}
	.Center {
		text-align: center;
		color: #3498DB
	}
    p {
        margin: 0;
    }